<form class="form newTicket-form" data-user-id="{{user_id}}">
    <div class="mb-3">
        <lable for="title" class="form-label">Title</lable>
        <input type="text" class="form-control" id="title">
    </div>
    <div class="mb-3">
        <lable for="roomno" class="form-label">Room NO.</lable>
        <input type="text" class="form-control" id="roomno">
    </div>
    <div class="mb-3">
        <lable for="content" class="form-label">Content</lable>
        <textarea class="form-control" id="content" rows="10"></textarea>
    </div>

    <div class="mb-3">
        <button class="btn btn-outline-dark" id="createBtn">Create</button>
    </div>

</form>
<br>

<script src="/js/saveTicket.js"></script>